/*general*/

* {
    margin: 0;
    padding: 0;
}

html {
    background: rgb(7, 7, 7); 
    font-size: 62.5%;
}

/*cuerpo*/
body {
    padding: 30px;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    color: rgb(247, 194, 20);
}

.title-container {
    display: flex;
    width: 360px;
}

.title-container img {
    width: 45px;
    height: 45px;
    padding: 10px;
}

.title-container h1 {
    font-weight: bold;
    font-size: 5rem;
}

.title-container .nav-container {
    text-align: center;
}

.nav-container-item {
    display: inline-block;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 360px;
}

ul li:hover {
    width: 300px;
    background: rgb(247, 194, 20);
    color: rgb(66, 101, 177);
    font-size: 3rem;
    font-weight: bold;
}

ul li {
    padding: 50px;
    border: 1px solid rgb(197, 168, 71);
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items:center;
}

ul li img {
    width: 45px;
    height: 45px;
    padding: 10px;
}

ul li a {
    text-decoration: none;

}

ul li a:hover {
    color: rgb(66, 101, 177);
}

.aside-nav-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-content: center;
}

main section {
    position: absolute;
    right: 0;
    top: 0;
    margin: 150px;
    width: 360px;
    border: 1px solid rgb(197, 168, 71);
    border-radius: 5px;
    padding: 50px;
}

main section form {
    margin: 20px;
}

main section h2 {
    margin-left: 20px;
}

main section form label {
    margin-left: 3px;
}

main section form input {
    padding: 8px;
    border-radius: 5px;
    border: 2px solid rgb(197,168,71);
    margin: 5px;
}

main section form button {
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0 5px 5px;
}

footer {
    display: flex;
    margin-top: 25px;
}

footer img {
    width: 45px;
    height: 45px;
    padding: 10px;
}

footer p {
    padding: 20px 10px 20px 10px;
}
