/*general*/

* {
    margin: 0;
    padding: 0;
}

html {
    background: rgb(7, 7, 7); 
    font-size: 62.5%;
}

/*cuerpo*/
body {
    padding: 20px;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    color: rgb(247, 194, 20);
    position: relative;
}

/*navbar menu*/

main .aside-nav-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-content: center;
}

main .aside-nav-container .title-container {
    display: flex;
    width: 360px;
}

main .aside-nav-container .nav-container li img {
    width: 45px;
    height: 45px;
    padding: 10px;
}

.title-container h1 {
    font-weight: bold;
    font-size: 5rem;
}

.container .nav-container {
    /* display: none; */
}

.title-container .nav-container {
    text-align: center;
}


main .aside-nav-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 325px;
}

main .aside-nav-container ul li:hover {
    width: 250px;
    background: rgb(247, 194, 20);
    color: rgb(66, 101, 177);
    font-size: 3rem;
    font-weight: bold;
}

main .aside-nav-container ul li {
    padding: 15px;
    border: 1px solid rgb(197, 168, 71);
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items:center;
}

main .aside-nav-container ul li a {
    text-decoration: none;
}

ul li img {
    width: 45px;
    height: 45px;
    padding: 10px;
}
header .container .nav-container nav ul {
    list-style: none;
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
}

header .container .nav-container nav ul .nav-container-item li a {
    text-decoration: none;
}

header .container .nav-container nav ul .nav-container-item li a p {
    display: none;
}

header .container .nav-container nav ul .nav-container-item li:hover {
    background: rgb(247, 194, 20);
    border-radius: 50%;
}

header .container .nav-container nav ul .nav-container-item li a img {
    width: 40px;
    height: 40px;
    padding: 8px;
}

/* header .container .nav-container nav ul .nav-container-item li a img:hover {
    width: 55px;
    height: 55px;
    padding: 10px;
} */

ul li a:hover {
    color: rgb(66, 101, 177);
}

/*main-content*/

main section {
    margin: 20px 3px 0 3px;
    width: 320px;
    border: 1px solid rgb(197, 168, 71);
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

main section form {
    margin: 10px;
}

main section h2 {
    margin-left: 20px;
}

main section form label {
    margin-left: 3px;
/*     padding: 20px; */
}

main section form input {
    padding: 8px;
    border-radius: 5px;
    border: 2px solid rgb(197,168,71);
    margin: 5px;
}

main section form button {
    border-radius: 5px;
    border: 2px solid rgb(197,168,71);
    padding: 5px;
    margin: 5px 0 5px 5px;
}

/*answers js dom*/

#answer {
    margin-left: 25px;
}

#respuesta_moda,
#respuesta_mediana,
#respuesta_media {
    margin-left: 22px;
}

/*footer */

footer {
    display: flex;
    width: 300px;
    margin-top: 10px;
    margin-left: 45px;
    position: absolute;
    bottom: 1;
}

footer img {
    width: 45px;
    height: 45px;
    padding: 10px;
}

footer p {
    padding: 20px 10px 20px 10px;
}
