/*general*/

* {
    margin: 0;
    padding: 0;
}

html {
    color: rgb(44, 43, 41);
    font-size: 62.5%;
}

body {
    padding: 5rem;
    font-size: 2rem;
    color: rgb(247, 194, 20);
    display: grid;
}

.container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.container h1 {
    grid-column: 2 / 3;
}

.container .nav-container {
    grid-column: 2 / 3;
    grid-row: 2 / 2;
    display: inline;
}

.nav-container-item {
    padding: 5px;
    display: inline-block;
}

ul {
    list-style: none;
    display: inline;
}

section {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

section .item:nth-child(1) {
    grid-column: 2 / 3;
}

section .item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

section .item:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 3 / 3;
}